@keyframes riseAndFall {
    0% {
        top: 10%;
        background: radial-gradient(circle, rgba(237,223,189,1) 3%, rgba(232,187,78,1) 87%);
        border: 2px solid #efbc0e;
    }
    50% {
        top: calc(100% - 100px);

    }
    100% {
        top: 10%;
        background: radial-gradient(circle, rgba(197,206,218,1) 0%, rgba(135,152,171,1) 87%);
        border: 2px solid #8995a2;
    }
}
@keyframes dayToNight {
    0% {
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(68,166,247,1) 87%);
    }

    100% {
        background: linear-gradient(0deg, rgba(25,86,154,1) 0%, rgba(11,31,54,1) 87%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    animation: dayToNight 10s linear infinite;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(68,166,247,1) 87%);
    border: 5px solid #c8a16f;
    width: 600px;
    height: 600px;
    z-index: 5;
    position: relative;
}

.horizon {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: radial-gradient(circle, rgba(74,138,210,1) 3%, rgba(25,86,154,1) 87%); }

.sun {
    animation-name: riseAndFall;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;

    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}



/*.moon {*/
/*    background: #8C9BA2;*/
/*    margin:30px 30px 30px 30px;*/
/*    height: 100px;*/
/*    width: 100px;*/
/*    border-radius: 50%;*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

